mixin mini-loaders-list()
  -
    const loaders = [
      {
        path: "mini-loader",
        image: "mksm800",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "800",
        bucket: "0.46",
        engine: "MMZ-4DT (Беларусь)",
        power: "46 (63)",
        arm: "Радиальный",
        unloading: "3080",
        title: "Мини-погрузчик ЧЕТРА МКСМ 800М",
        equipment: "Комплектация «Базовая»",
        href: "chetra-mksm800mb.html",
        altText: "Изображение минипогрузчика",
      },

      {
        path: "mini-loader",
        image: "mksm800-1",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "800",
        bucket: "0.46",
        engine: "MMZ-4DT (Беларусь)",
        power: "46 (63)",
        arm: "Вертикальный",
        unloading: "3685",
        title: "Мини-погрузчик ЧЕТРА МКСМ 800М",
        equipment: "Комплектация «Премиум»",
        href: "chetra-mksm800mp.html",
        altText: "Изображение минипогрузчика",
      },
      {
        path: "mini-loader",
        image: "mksm800",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "800",
        bucket: "0.46",
        engine: "Kubota V2403 (Япония)",
        power: "38 (52)",
        arm: "Радиальный",
        unloading: "3080",
        title: "Мини-погрузчик ЧЕТРА МКСМ 800А-1",
        equipment: "Комплектация «Базовая»",
        href: "chetra-mksm800ab.html",
        altText: "Изображение минипогрузчика",
      },

      {
        path: "mini-loader",
        image: "mksm800-1",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "800",
        bucket: "0.46",
        engine: "Kubota V2403 (Япония)",
        power: "38 (52)",
        arm: "Вертикальный",
        unloading: "3685",
        title: "Мини-погрузчик ЧЕТРА МКСМ 800А-1",
        equipment: "Комплектация «Премиум»",
        href: "chetra-mksm800ap.html",
        altText: "Изображение минипогрузчика",
      },
      {
        path: "mini-loader",
        image: "1000M",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "ММЗ Д243S2 (Беларусь)",
        power: "60 (81,6)",
        arm: "Радиальный",
        unloading: "3080",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1000М",
        equipment: "Комплектация «Базовая»",
        href: "chetra-mksm1000mb.html",
        altText: "Изображение минипогрузчика",
      },

      {
        path: "mini-loader",
        image: "1000A",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "ММЗ Д243S2 (Беларусь)",
        power: "60 (81,6)",
        arm: "Вертикальный",
        unloading: "3685",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1000М",
        equipment: "Комплектация «Премиум»",
        href: "chetra-mksm1000mp.html",
        altText: "Изображение минипогрузчика",
      },
      {
        path: "mini-loader",
        image: "1000M",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "Kubota V3300 (Япония)",
        power: "55 (75)",
        arm: "Радиальный",
        unloading: "3080",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1000А-1",
        equipment: "Комплектация «Базовая»",
        href: "chetra-mksm1000ab.html",
        altText: "Изображение минипогрузчика",
      },

      {
        path: "mini-loader",
        image: "1000A",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "Kubota V3300 (Япония)",
        power: "55 (75)",
        arm: "Вертикальный",
        unloading: "3685",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1000А-1",
        equipment: "Комплектация «Премиум»",
        href: "chetra-mksm1000ap.html",
        altText: "Изображение минипогрузчика",
      },
      {
        path: "mini-loader",
        image: "1200M",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "ММЗ Д243S2 (Беларусь)",
        power: "60 (81,6)",
        arm: "Радиальный",
        unloading: "3165",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1200М",
        equipment: "Комплектация «Базовая»",
        href: "chetra-mksm1200mb.html",
        altText: "Изображение минипогрузчика",
      },

      {
        path: "mini-loader",
        image: "1200A",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "ММЗ Д243S2 (Беларусь)",
        power: "60 (81,6)",
        arm: "Вертикальный",
        unloading: "3710",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1200М",
        equipment: "Комплектация «Премиум»",
        href: "chetra-mksm1200mp.html",
        altText: "Изображение минипогрузчика",
      },
      {
        path: "mini-loader",
        image: "1200M",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "Kubota V3300 (Япония)",
        power: "55 (75)",
        arm: "Радиальный",
        unloading: "3165",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1200А-1",
        equipment: "Комплектация «Базовая»",
        href: "chetra-mksm1200ab.html",
        altText: "Изображение минипогрузчика",
      },

      {
        path: "mini-loader",
        image: "1200A",
        format: "jpg",
        width: 218,
        height: 174,
        lifting: "1000",
        bucket: "0.6",
        engine: "Kubota V3300 (Япония)",
        power: "55 (75)",
        arm: "Вертикальный",
        unloading: "3710",
        title: "Мини-погрузчик ЧЕТРА МКСМ 1200А-1",
        equipment: "Комплектация «Премиум»",
        href: "chetra-mksm1200ap.html",
        altText: "Изображение минипогрузчика",
      },
    ]
  section.section-list
    .container
      .section-list__wrapper
        h2.visually-hidden Минипогрузчики
        +aside-menu-chetra()
        ul.catalog__list
          each item in loaders
            li.catalog__item.catalog__item--mksm
              .catalog__item-image
                +picture(item.path, item.image, item.format, item.width, item.height, item.altText)
                h2.catalog__item-title.catalog__item-title--mksm=item.title
                span=item.equipment
              .catalog__item-params
                dl
                  dt Грузоподъемность, кг
                  dd=item.lifting
                  dt Объем ковша, м³
                  dd=item.bucket
                  dt Двигатель
                  dd=item.engine
                  dt Мощность, кВт(л.с.)
                  dd=item.power
                  dt Тип подъема стрелы
                  dd=item.arm
                  dt Высота разгрузки, мм
                  dd=item.unloading

              +btn({text: "Подробнее", href: item.href}).btn--chetra
